.tstirat{

    display: grid;
    grid-auto-rows: minmax(60px,auto);
    grid-template-areas: 
     "header header header header header"
      
     "content nav nav nav nav"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
     "content sidleft sidleft sidleft sidleft"
    "footer footer footer footer footer"
    "footer footer footer footer footer"
    
    
    
    ;
   
   grid-gap: 15px;

}


.a{
     


 border-radius: 8px;
 box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);



}
.a.header{

     grid-area: header;
     background-color: rgb(145, 90, 8);


}
.a.nav{

   grid-area: nav;
   padding: 0px;
   min-height: 20px;

  


}

.a.content{

   grid-area: content;
   background-color: rgb(241, 241, 241);


}

.a.sidleft{

   grid-area: sidleft;
   background-color: rgb(241, 241, 241);
   
   
  


}

.a.footer{
  
  
  
   grid-area: footer;
   background-color: black;
   color: white;
   
   


}
.image{

   width: 150px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image:hover{


   opacity: 0.9;
   cursor: pointer;



}
.samurai-x{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-1{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-1:hover{
 
   text-decoration:underline;

 

}

.text-1{


  margin-left: 23px;
 


}
.text-1:hover{



  color: rgb(146, 28, 146);


}
.all-1{

   margin-top: 10px;
   display: inline-block;
}


/*manga tania*/


.image2{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image2:hover{


   opacity: 0.9;
   cursor: pointer;



}
.chainsaw-man{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-120{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-120:hover{
 
   text-decoration:underline;

 

}

.text-2{


  margin-left: 8px;


}
.text-2:hover{



   color: rgb(146, 28, 146);
 
 
 }
.all-2{

   margin-top: 10px;
   display: inline-block;
}

/*manga talta*/

.image3{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);



}
.image3:hover{


   opacity: 0.9;
   cursor: pointer;



}
.general{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-3{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-3:hover{
 
   text-decoration:underline;

 

}

.text-3{


  margin-left: 23px;


}
.text-3:hover{



   color: rgb(146, 28, 146);
 
 
 }
.all-3{

   margin-top: 10px;
   display: inline-block;
}


/*manga rab3a*/

.image4{

   width: 120px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image4:hover{


   opacity: 0.9;
   cursor: pointer;



}
.sakamoto-days{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-121{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-121:hover{
 
   text-decoration:underline;
   

 

}

.text-4{

   margin-left: 15px;
  


}
.text-4:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-4{

   margin-top: 10px;
   display: inline-block;
}
/*manga 5amsa*/
.image5{

   width: 120px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image5:hover{


   opacity: 0.9;
   cursor: pointer;



}
.one-piece{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-150{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-150:hover{
 
   text-decoration:underline;
   

 

}

.text-5{

   margin-left: 15px;
  


}
.text-5:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-5{

   margin-top: 10px;
   display: inline-block;
}




/*manga sadsa*/
.image6{

   width: 128px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image6:hover{


   opacity: 0.9;
   cursor: pointer;



}
.juujika-no-rokunin{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-70{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-70:hover{
 
   text-decoration:underline;
   

 

}

.text-6{

   margin-left: 15px;
  


}
.text-6:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-6{

   margin-top: 10px;
   display: inline-block;
}





/*manga sab3a*/

.image7{

   width: 128px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image7:hover{


   opacity: 0.9;
   cursor: pointer;



}
.count-over{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-5{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-5:hover{
 
   text-decoration:underline;
   

 

}

.text-7{

   margin-left: 15px;
  


}
.text-7:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-7{

   margin-top: 10px;
   display: inline-block;

}



/*seter taniiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/


.image8{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image8:hover{


   opacity: 0.9;
   cursor: pointer;




}
.reverend-insanity{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-400{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-400:hover{
 
   text-decoration:underline;

 

}

.text-8{


  margin-left: 23px;
 


}
.text-8:hover{



  color: rgb(146, 28, 146);


}
.all-8{

   margin-top: 10px;
   display: inline-block;
}


/*manga tas3a*/


.image9{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image9:hover{


   opacity: 0.9;
   cursor: pointer;



}
.dungeon-defense{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-45{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-45:hover{
 
   text-decoration:underline;

 

}

.text-9{


  padding-left: 30px;


}
.text-9:hover{



   color: rgb(146, 28, 146);
 
 
 }
.all-9{

   margin-top: 10px;
   display: inline-block;
}

/*manga l3achra*/

.image10{

   width: 125px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);



}
.image10:hover{


   opacity: 0.9;
   cursor: pointer;



}
.demon-slayer{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-60{
 
   margin-top: 0px;
   color: gray;
   margin-left: 19px;
   cursor: pointer;


 

}
.chapter-60:hover{
 
   text-decoration:underline;

 

}

.text-10{


  


}
.text-10:hover{



   color: rgb(146, 28, 146);
 
 
 }
.all-10{

   margin-top: 10px;
   display: inline-block;
}


/*manga 11*/

.image11{

   width: 125px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image11:hover{


   opacity: 0.9;
   cursor: pointer;



}
.jujutsu-kaisen{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-79{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-79:hover{
 
   text-decoration:underline;
   

 

}

.text-11{

   margin-left: 20px;
  


}
.text-11:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-11{

   margin-top: 10px;
   display: inline-block;
}
/*manga 12*/
.image12{

   width: 125px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image12:hover{


   opacity: 0.9;
   cursor: pointer;



}
.the-beginning-after-the-end{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-709{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-709:hover{
 
   text-decoration:underline;
   

 

}

.text-12{

   margin-left: 15px;
  


}
.text-12:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-12{

   margin-top: 10px;
   display: inline-block;
}




/*manga 13*/
.image13{

   width: 125px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image13:hover{


   opacity: 0.9;
   cursor: pointer;



}
.one-punch-man{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-139{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-139:hover{
 
   text-decoration:underline;
   

 

}

.text-13{

   margin-left: 15px;
  


}
.text-13:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-13{

   margin-top: 10px;
   display: inline-block;
}





/*manga 14*/

.image14{

   width: 128px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image14:hover{


   opacity: 0.9;
   cursor: pointer;



}
.classroom-of-the-elite{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-99{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-99:hover{
 
   text-decoration:underline;
   

 

}

.text-14{

   margin-left: 15px;
  


}
.text-14:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-14{

   margin-top: 10px;
   display: inline-block;

}

/*ster taaaaaaaaaaaaaaaaaaaaaaaaaaaaaaalt*/


.image15{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image15:hover{


   opacity: 0.9;
   cursor: pointer;



}
.The-rise-of-the-worm-to-rule{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-23{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-23:hover{
 
   text-decoration:underline;

 

}

.text-15{


  margin-left: 8px;
 


}
.text-15:hover{



  color: rgb(146, 28, 146);


}
.all-15{

   margin-top: 10px;
   display: inline-block;
}


/*manga 16*/


.image16{

   width: 135px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image16:hover{


   opacity: 0.9;
   cursor: pointer;



}
.jojo-bizzare-adventure-part7{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-93{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-93:hover{
 
   text-decoration:underline;

 

}

.text-16{


  margin-left: 8px;


}
.text-16:hover{



   color: rgb(146, 28, 146);
 
 
 }
.all-16{

   margin-top: 10px;
   display: inline-block;
}

/*manga 17*/

.image17{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);



}
.image17:hover{


   opacity: 0.9;
   cursor: pointer;



}
.scarecrow{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-57{
 
   margin-top: 0px;
   color: gray;
   margin-left: 7px;
   cursor: pointer;


 

}
.chapter-57:hover{
 
   text-decoration:underline;

 

}

.text-17{


  margin-left: 20px;


}
.text-17:hover{



   color: rgb(146, 28, 146);
 
 
 }
.all-17{

   margin-top: 10px;
   display: inline-block;
}


/*manga 18*/

.image18{

   width: 140px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image18:hover{


   opacity: 0.9;
   cursor: pointer;



}
.the-first-prince{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-700{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-700:hover{
 
   text-decoration:underline;
   

 

}

.text-18{

   margin-left: 15px;
  


}
.text-18:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-18{

   margin-top: 10px;
   display: inline-block;
}
/*manga 19*/
.image19{

   width: 130px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image19:hover{


   opacity: 0.9;
   cursor: pointer;



}
.the-eminence-in-shadow{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-33{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-33:hover{
 
   text-decoration:underline;
   

 

}

.text-19{

   margin-left: 0px;
  


}
.text-19:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-19{

   margin-top: 10px;
   display: inline-block;
}




/*manga 20*/
.image20{

   width: 128px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image20:hover{


   opacity: 0.9;
   cursor: pointer;



}
.tomodachi-game{


  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-12{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-12:hover{
 
   text-decoration:underline;
   

 

}

.text-20{

   margin-left: 15px;
  


}
.text-20:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-20{

   margin-top: 10px;
   display: inline-block;
}





/*manga 21*/

.image21{

   width: 128px;
   border-radius: 8px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   



}
.image21:hover{


   opacity: 0.9;
   cursor: pointer;



}
.villain{

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0px;
  font-size: larger;
  margin-top: 0px;
   margin-top: 5px;
   cursor: pointer;


}
.chapter-54{
 
   margin-top: 0px;
   color: gray;
   cursor: pointer;


 

}
.chapter-54:hover{
 
   text-decoration:underline;
   

 

}

.text-21{

   margin-left: 15px;
  


}
.text-21:hover{


  
   color: rgb(146, 28, 146);
 
 
 }
.all-21{

   margin-top: 10px;
   display: inline-block;

}





































.cont{

    display: grid;
    grid-template-columns: repeat(7, 0.11fr);
    grid-auto-rows: minmax(250px, auto) ;
    grid-gap: 10px;
   


    




}
.days{

   margin-left: 20px;

}
.search-bar{



    border-radius: 20px;
  
    border-style: solid;
    padding: 8px;
    padding-right: 25px;
    margin-top: 5px;
   
    border-color: rgb(145, 90, 8);
  
    padding-left: 6vh;
    margin-left: -15px;


}
.fa.fa-search{
position: relative;
  margin: 0px;
  left: 3vh;


}
.pic1{
width: 260px;
border-radius: 10px;
margin-left: 20px;
margin-top: 10px;
}
.pic1:hover{
  
   opacity: 0.9;
   cursor: pointer;


}
.text1-slid{


   
    margin-left: 70px;



}
.dungeon{


   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-style: italic;
   margin-bottom: 0px;
   font-size: larger;
   margin-top: 0px;
    margin-top: 5px;
    cursor: pointer;

}
.dungeon:hover{
  
   color: rgb(146, 28, 146);;
  

}
.all-chapter{
 
   margin-top: 0px;
   color: gray;
   margin-left: 50px;
   cursor: pointer;



 

}
.all-chapter:hover{
 
   text-decoration:underline;

 

}
.arabic{
   font-family: 'Almarai', sans-serif;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  
  

  
}
.cont2{

   display: grid;
   grid-template-columns: repeat(2, 0.11fr);
   grid-auto-rows: minmax(250px, auto) ;
   grid-gap: 10px;
   margin-left: 20px;

}
.header-flex{

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu-text{
  
   display: flex;
   flex-direction: row-reverse;
   display: inline-flex;
  
  
   
  

}

.a-1{

   color: rgb(206, 206, 206);
   cursor: pointer;
   margin: 10px;
   font-family: 'Almarai', sans-serif;
   transition: color 0.15s;

}
.a-1:hover{

  color: white;


}
.a-2{
   color: rgb(206, 206, 206);
   cursor: pointer;
   margin: 10px;
   font-family: 'Almarai', sans-serif;
   transition: color 0.15s;

}
.a-2:hover{

   color: white;
 
 
 }

.a-3{
   color: rgb(206, 206, 206);
   cursor: pointer;
   margin: 10px;
   font-family: 'Almarai', sans-serif;
   transition: color 0.15s;
}
.a-3:hover{

   color: white;
 
 
 }
.a-4{
   color: rgb(206, 206, 206);
   cursor: pointer;
   margin: 10px;
   font-family: 'Almarai', sans-serif;
   transition: color 0.15s;
}
.a-4:hover{

   color: white;
 
 
 }
.saber-novel{

  width: 230px;
  
   mix-blend-mode:normal;
   margin-top: 5px;
   margin-right: 5px;
   margin-left: 5px;
   



}
.left-section{

  align-items: center;

}

  .footer-content{

      margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    text-align: center;


  }
  .footer-title{

    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    cursor: pointer;
   transition: color 0.3s;



  }
  .footer-title:hover{

  color: rgb(150, 16, 150);





 }
  .footer-content p{

   max-width: 500px;
   font-size: 15px;
   margin: 10px auto;
   line-height: 28px;


  }
  .social{

   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem 0 3rem 0;
   margin-right: 37px;
  }
  .social li{


    margin: 0 10px;

  }
  .social a{

   text-decoration: none;
   color: white;


  }
  .social a i{

    font-size: 1.1rem;


  }
  .social a :hover{


    color: aqua;

  }

 .footer-buttom{

    width: 95vw;
    padding: 20px 0;
    text-align: center;
    margin-left: 25px;

  }
  
 .footer-buttom p{

 font-size: 14px;
 word-spacing: 2px;
 text-transform: capitalize;


 }
 
 .footer-buttom span{

  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
 }
.dawr-dsit{


  
   font-family: 'Almarai', sans-serif;

}
.fa.fa-user{

margin-left: 10px;
cursor: pointer;

}
 .fa.fa-user:hover{
  
     filter: brightness(0) invert(1);
    
    }
